#about {
  margin: 10rem;
  font-size: $medium-font-size;
  div {
    display: flex;
    justify-content: space-around;
    width: auto;
    p {
      margin: 2em;
      line-height: 2;
    }
    img {
      max-height: 35rem;
    }
  }
}
