#about {
  height: 100%;
  margin: 0 10%;
  font-size: $regular-font-size;
  &_body {
    display: flex;
    justify-content: space-around;
    &-bio {
      margin: 2em 4em;
      max-width: 55rem;
      &-softskills {
        h1 {
          font-size: 1.1em;
          font-weight: 500;
          margin-bottom: 1.5em;
          text-align: center;
          color: $secondary-color;
        }
        &-list {
          display: flex;
          justify-content: center;
          text-align: center;
          div {
            margin: 0 2em;
            // svg {
            //   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
            //   border-radius: 50%;
            // }
            p {
              margin-bottom: 1em;
            }
          }
        }
      }
      p {
        line-height: 1.5;
        text-align: justify;
      }
    }
    img {
      width: 30%;
      height: 650px;
      object-fit: cover;
      object-position: top;
      box-shadow: -35px -35px 15px $secondary-color;
    }
  }
}

@media screen and (max-width: 1200px) {
  #about {
    height: 100%;
    &_body-bio-softskills-list {
      div {
        margin-bottom: 2em;
        p {
          text-align: center;
        }
      }
    }
    div {
      flex-direction: column;
      align-items: center;
      img {
        width: 60%;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #about {
    margin: 0 1%;
    font-size: $small-font-size;
  }
}
