#cover {
  &_name {
    font-size: $big-font-size;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid black;
    &--last {
      color: $primary-color;
      font-weight: 700;
    }
  }
}
