#cover {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(243, 242, 221, 0.7),
      rgba(248, 247, 216, 0.4)
    ),
    url("../media/cover_image.jpg");
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  padding: 2em;

  &_name {
    font-size: $big-font-size;
    line-height: 1.5;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    // border-bottom: 3px solid black;
    &--last {
      color: $primary-color;
      font-weight: 700;
    }
  }
  &_more {
    cursor: pointer;
    position: absolute;
    bottom: 5vh;
    text-align: center;
    font-size: $regular-font-size;
    animation: pulse 3s infinite ease-in-out;
    @keyframes pulse {
      0% {
        transform: scale(0.9);
        opacity: 0.8;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.9);
        opacity: 0.8;
      }
    }
    p {
      margin-bottom: 1.5em;
    }
  }
}
