#cover {
  background: no-repeat center/100% url("../media/cover_image.jpg");

  text-transform: uppercase;
  &_more {
    cursor: pointer;
    position: absolute;
    bottom: 10vh;
    text-align: center;
    font-size: $regular-font-size;
    animation: pulse 3s infinite ease-in-out;
    @keyframes pulse {
      0% {
        transform: scale(0.9);
        opacity: 0.8;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.9);
        opacity: 0.8;
      }
    }
    p {
      margin-bottom: 1.5em;
    }
  }
  &_name {
    font-size: $big-font-size;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid black;
    &--last {
      color: $primary-color;
      font-weight: 700;
    }
  }
}
