footer {
  font-size: $regular-font-size;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(42, 41, 41, 0.5);
  p {
    font-size: $regular-font-size;
    text-align: center;
  }
  .social-icons {
    font-size: 2.4rem;
    padding: 1.5rem;
    a {
      padding: 1rem;
      @include transition-ease;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
