#projects {
  height: 100%;

  &_body {
    display: flex;
    flex-direction: column;
    width: 70%;
    &_single {
      background-color: rgba(247, 217, 162, 0.3);
      box-shadow: 0 2px 6px rgb(0 0 0 / 60%);
      margin-bottom: 3em;
      display: flex;
      flex-direction: row;
      align-items: center;
      &--description {
        padding: 5em;
        width: 60%;
        h2 {
          font-size: $medium-font-size;
          margin-bottom: 2em;
        }
        p {
          font-size: $regular-font-size;
          margin-bottom: 2em;
          line-height: 1.5;
        }
        span {
          font-size: $regular-font-size;
          padding-right: 1em;
          a {
            border-bottom: dashed 2px $primary-color;
          }
        }
      }
      &--image {
        width: 40%;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #projects {
    height: 100%;
    &_body {
      &_single {
        flex-direction: column;
        &--description {
          width: 100%;
        }
        &--image {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 689px) {
  #projects {
    &_body {
      &_single {
        &--description {
          div {
            span {
              display: block;
              padding: 1em;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}
