#projects {
  height: 100%;

  &_body {
    display: flex;
    flex-direction: column;
    width: 70%;

    .card {
      background-color: rgb(253, 237, 208);
      box-shadow: 0 2px 6px rgb(0 0 0 / 60%);
      margin-bottom: 3em;
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 100rem;
      max-height: 80rem;
    }

    &_single {
      &--description {
        padding: 5em;
        width: 60%;
        h2 {
          font-size: 3.5em;
          margin-bottom: 1em;
          text-shadow: 5px 5px 5px $secondary-color;
        }
        p {
          font-size: $regular-font-size;
          margin-bottom: 2em;
          line-height: 1.5;
        }
        span {
          font-size: $regular-font-size;
          padding-right: 1em;
          a {
            border-bottom: dashed 2px $primary-color;
          }
        }
      }
      &--image {
        // width: 50rem;
        // width: 40%;
        // height: 560px;
        &--back {
          width: 30rem;
          margin: 0 3em;
          box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.6);
          // border: 20px solid rgb(252, 248, 242);
          // border-radius: 10%;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      &--arrow {
        align-self: flex-end;
        margin: 0 0.5em 0.5em 0;
        font-size: $regular-font-size;
        button {
          display: inline-block;
          padding: 0.35em 1.2em;
          border: 0.1em solid $secondary-color;
          margin: 0 0.3em 0.3em 0;
          border-radius: 0.12em;
          box-sizing: border-box;
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: $regular-font-size;
          color: $primary-color;
          text-align: center;
          transition: all 0.2s;
          background-color: rgb(247, 217, 162);
          &:hover {
            color: #000000;
            background-color: #ffffff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1780px) {
  #projects {
    &_body {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1500px) {
  #projects {
    height: 100%;
    &_body {
      .card {
        flex-direction: column;
      }
      &_single {
        text-align: center;
        &--description {
          width: 100%;
        }
        &--image {
          &--back {
            margin-top: 2em;
            width: 50%;
          }
        }
        &--arrow {
          align-self: center;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  #projects {
    &_body {
      &_single {
        &--description {
          padding: 2em;
          h2 {
            font-size: $medium-font-size;
          }
          p {
            font-size: $small-font-size;
            margin-bottom: 0;
          }
          div {
            span {
              font-size: $small-font-size;

              display: block;
              padding: 1em;
              line-height: 1;
            }
          }
        }
        &--arrow {
          button {
            font-size: $small-font-size;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #projects {
    &_body {
      &_single {
        &--description {
          h2 {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
