#skills {
  height: 100%;
  background: #f7f7f5;
  margin: 5em 0;
  padding-bottom: 5em;
  h2 {
    font-size: $regular-font-size;
    margin-top: 2em;
    font-style: italic;
    span {
      margin-left: 1em;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5em;
    li {
      width: 20%;
      font-size: $regular-font-size;
      text-align: center;
      margin: 2em 0;

      p {
        margin-top: 1em;
      }
    }
  }
  p {
    font-size: $regular-font-size;
  }
}

@media screen and (max-width: 1017px) {
  #skills {
    height: 100%;
    h2 {
      text-align: center;
      line-height: 2;
      span {
        margin-left: 0.5em;
      }
    }
    ul {
      flex-direction: column;
      li {
        width: 100%;
      }
    }
  }
}
