#skills {
  background-color: rgba(223, 23, 150, 0.1);
  h2 {
    font-size: $medium-font-size;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5em;
    li {
      padding: 1em;
      font-size: $regular-font-size;
    }
  }
}
