@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

/* VARIABLES */
$secondary-color: rgb(228, 185, 69);
$primary-color: #504f54;
$bg-image: url("../media/background5.jpg");
$body-font: "Montserrat", sans-serif;
$big-font-size: 5rem;
$medium-font-size: 2.5rem;
$regular-font-size: 1.7rem;
$small-font-size: 1.2rem;

/* RESET STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BASE STYLING */

body {
  // height: 100vh;
  font-family: $body-font;
  // background: $bg-image;
  // background: repeating-linear-gradient(
  //   to bottom,
  //   #f7f6f3,
  //   #fff 500px,
  //   #fff 500px
  // );
  background-color: #f6efda;
  line-height: 1;
  color: $primary-color;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  z-index: 2;
  padding: 1rem;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}
section {
  @include flexCenter();
  .section_title {
    font-size: $medium-font-size;
    border-bottom: solid 5px $secondary-color;
    margin: 2em;
    padding-bottom: 0.5em;
  }
}

@import "./nav";
@import "./cover";
@import "./intro";
@import "./about";
@import "./experience";
@import "./projects";
@import "./skills";
@import "./contact";
@import "./footer";
