@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 100vh;
  // margin: 0 10%;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

/* VARIABLES */
// $secondary-color: rgb(172, 3, 85);
$secondary-color: rgb(228, 185, 69);
$primary-color: #504f54;
$bg-image-paper: url("../media/background.png");
$bg-image-girl: url("../media/girl-balloon.png");
$body-font: "Montserrat", sans-serif;
$big-font-size: 5rem;
$medium-font-size: 2.5rem;
$regular-font-size: 1.7rem;
$small-font-size: 0.7rem;

/* RESET STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BASE STYLING */

body {
  height: 100vh;
  font-family: $body-font;
  // background: $bg-image-paper, no-repeat top 400px right 100px $bg-image-girl;
  // line-height: 1;
  background: $bg-image-paper;
  line-height: 1;
  color: $primary-color;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  z-index: 2;
  padding: 1rem;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}
section {
  @include flexCenter();
  .section_title {
    font-size: $medium-font-size;
    border-bottom: solid 5px $secondary-color;
    margin: 2em;
    padding-bottom: 0.5em;
  }
}

@import "./nav";
@import "./cover";
@import "./about";
@import "./experience";
@import "./projects";
@import "./skills";
@import "./footer";
